extends layout

block content
  h1= title

  div(id="loader-wrapper")
    div(id="loader")
  div(class="content-bg")
  div(class="bg-overlay")

  <!-- SITE TOP -->
  div(class="site-top")
    div(class="site-heder clearfix")
      div(class="container")

    div(class="site-banner")
      div(class="container")
        div(class="row")
          div(class="col-md-offset-2 col-md-8 text-center")
            h2 Sup, homie?
