doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/templatemo-style.css')
    link(rel='stylesheet', href='/stylesheets/basicLightbox.min.css')


    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js')
    script(src='javascripts/basicLightbox.min.js')

  body
    block content
    script(src='javascripts/vendor/jquery-1.10.2.min.js')
    script(src='javascripts/min/plugins.min.js')
    script(src='javascripts/min/main.min.js')

    script(type="text/javascript").

      //<![CDATA[
      $(window).load(function() { // makes sure the whole site is loaded

        $('.large-display').each(function(index, value) {
            $( value ).click(function() {
              const image = $(this).attr('data-image');

              const instance = basicLightbox.create(`
                <img src="images/${image}.jpg" />
              `);

              instance.show();
            });

        });

          $('#loader').fadeOut(); // will first fade out the loading animation
              $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
          $('body').delay(350).css({'overflow-y':'visible'});
      })
      //]]>
